type                    = "single"
profile                 = "normal"
tenant                  = "{{ instana_tenant }}"
unit                    = "{{ instana_unit }}"
agent_key               = "{{ instana_agent_key }}"
download_key            = "{{ instana_download_key }}"
sales_key               = "{{ instana_sales_key }}"
host_name               = "{{ instana_server_fqdn }}"
token_secret            = "CrWJsMUESiQW"
clickhouse_bind_address = ""

cert {
  crt = "/instana/cert/tls.crt"
  key = "/instana/cert/tls.key"
}

dir {
  metrics = "{{ instana_metrics_mount }}"
  traces  = "{{ instana_traces_mount }}"
  data    = "{{ instana_data_mount }}"
  logs    = "/var/log/instana"
}

proxy {
  host     = ""
  port     = 0
  user     = ""
  password = ""
}

artifact_repository {
  repository_url = "https://artifact-public.instana.io/artifactory/shared/"
  user           = "_"
  password       = "{{ instana_download_key }}"
}

email {

  smtp {
    from      = ""
    host      = ""
    port      = 0
    user      = ""
    password  = ""
    use_ssl   = false
    start_tls = false
  }

  ses {
    from            = ""
    aws_access_key  = ""
    aws_access_id   = ""
    aws_return_path = ""
    aws_region      = ""
  }
}

docker_repository {
  base_url = "containers.instana.io"
  username = "_"
  password = "{{ instana_download_key }}"
}

geo_db {
  download_url = "https://packages.instana.io/geodb/geolite2-city.tar.gz"
  file_name    = "GeoLite2-City.mmdb"
  user         = ""
  password     = "{{ instana_download_key }}"
}

feature "useInstanaSaasEumTrackingUrlEnabled" {
  enabled = true
}
feature "skipOnboardingDialog" {
  enabled = true
}
feature "agentMonitoringIssuesEnabled" {
  enabled = true
}
feature "rulesMemoryleakEnabled" {
  enabled = true
}
feature "fullTermsConfigEnabled" {
  enabled = true
}
feature "pcfEnabled" {
  enabled = true
}
feature "showUserSettingInternalTagsInUA" {
  enabled = true
}
feature "authenticationOidcEnabled" {
  enabled = true
}
feature "loggingEnabled" {
  enabled = false
}
feature "loggingEnabledOnTrace" {
  enabled = false
}
feature "highResolutionInfrastructureMetricsEnabled" {
  enabled = true
}
feature "beeinstanaInfraMetricsEnabled" {
  enabled = false
}
feature "infraMetricsWidgetEnabled" {
  enabled = false
}
feature "infraExplorePresentationEnabled" {
  enabled = false
}
feature "infraExploreDataEnabled" {
  enabled = false
}
feature "infrastructureExploreDataEnabled" {
  enabled = false
}

feature "applicationSmartAlertsEnabled" {
  enabled = true
}
